/*Dashboard CSS*/
#backgroundPane{
  -fx-background-color: linear-gradient(to bottom,#1c92d2 , #f2fcfe);
}
#buttonsPane{
    -fx-background-color: #1c92d2;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}
#WDbackground{
    -fx-background-color: #1c92d2;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}
#Home{
    -fx-text-fill: #1c92d2;
    -fx-background-color: #FF8008;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}
#Home:hover{
    -fx-background-color:linear-gradient(to bottom, #FF8008, #FFC837);
    -fx-text-fill: #000000;
}

#WorkoutandDiet{
    -fx-text-fill: #1c92d2;
    -fx-background-color: #FF8008;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}
#WorkoutandDiet:hover{
    -fx-background-color:linear-gradient(to bottom, #FF8008, #FFC837);
    -fx-text-fill: #000000;
}

#Close{
    -fx-text-fill: #1c92d2;
    -fx-background-color: #023796;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}
#Close:hover{
    -fx-background-color: red;
    -fx-text-fill: whitesmoke;
}
VBox{
    -fx-background-color : linear-gradient(to bottom,#1c92d2 , #f2fcfe);
}
.button{
    -fx-text-fill: #023796;
    -fx-background-color: #1c92d2;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}
.button:hover {
    -fx-background-color: #023796;
    -fx-text-fill: #1c92d2;
}

/*Home Tab CSS*/
#HomeBackgroundPane{
    -fx-background-color: #1c92d2;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}
#logoPane{
    -fx-background-color: white;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

/*WorkoutDiet  Tab CSS*/
#btnWorkout{
    -fx-text-fill: #1c92d2;
    -fx-background-color: #023796;
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}
#btnWorkout:hover{
    -fx-background-color:linear-gradient(to bottom, #FF8008, #FFC837);
    -fx-text-fill: #023796;
}

#btnDiet{
    -fx-text-fill: #1c92d2;
    -fx-background-color: #023796;
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}
#btnDiet:hover{
    -fx-background-color:linear-gradient(to bottom, #FF8008, #FFC837);
    -fx-text-fill: #023796;
}

.text-field{
    -fx-background-radius: 20;
}


.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #023796;
    -fx-text-fill: white;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}
.list-cell:even {
    -fx-background-color: white;
}
.list-cell:filled:hover {
    -fx-background-color: #1c92d2;
    -fx-text-fill: white;
}


.table-view{
    -fx-background-color: transparent;   
}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}
.table-view .corner {
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: #023796;
    -fx-background-radius: 20;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}
.table-view .column-header-background .label{
    -fx-text-fill: #1c92d2;
}
.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: #023796;
}
.table-row-cell:focused {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: #023796;
    -fx-font-weight: bold;
}
.table-row-cell:odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.label{
    -fx-text-fill: #000000;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-family: "Ebrima";  
}

#T1{
    -fx-fill: #000000;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-family: "Ebrima";  
}
#T2{
    -fx-fill: #000000;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-family: "Ebrima";  
}

#T3{
    -fx-fill: #000000;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-family: "Ebrima";  
}

